<head>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

</head>
<header class="header">

<footer>
    <div class="footer-container">
        <div class="footer-menu">
            <h3> LA Mariée</h3>
            <ul>
                <li><a href="#"> Céremonie</a></li>
                <li><a href="#"> Civil</a></li>
                <li><a href="#"> Accessoires</a></li>
                <li><a href="#"> Second Main</a></li>
            </ul>
        </div>
        <div class="footer-menu">
            <h3>Robes en couleur</h3>
            <ul>
                <li><a href="#">Collection 2022</a></li>
                <li><a href="#">Seconde main couleur</a></li>
                <li><a href="#">Intemporels</a></li>
            </ul>
        </div>
        <div class="footer-menu">
            <h3>La Maison</h3>
            <ul>
                <li><a href="#">Nous</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-menu">
            <h3>RENDEZ-Vous /Boutique</h3>
            <ul>
                <li><a href="#">Prise de rendez-vous au showroom</a></li>
                <li><a href="#">sur Mesure</a></li>
                <li><a href="#">Essayage Virtuel</a></li>
            </ul>
        </div>
    </div>
</footer>