{# templates/image/upload.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Upload Image Form</title>
</head>
<body>
    <h1>Upload Image</h1>

    {# Render the form #}
    {{ form_start(form) }}
    {{ form_row(form.imageUrl) }}
    {{ form_row(form.imageText) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
</body>
</html>
